* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /*color*/
    --HC-primary-color-500: #161925;
    --HC-primary-color-300: #202536;
    --HC-secondary-color-500: #4D6CFA;
    --HC-secondary-color-700: #1A265E;
    --HC-accent-color-500: #E55934;
    --HC-accent-color-700: #B53817;
    --HC-natural-color-100: #E2E6F0;
    --HC-natural-color-200: #A6A6A6;
    --HC-natural-color-300: #666666;
    --HC-natural-color-400: #333333;
}

/* sora-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/sora-v17-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sora-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/sora-v17-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sora-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/sora-v17-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/sora-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sora-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/sora-v17-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sora-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/sora-v17-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sora-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/sora-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sora-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sora';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/sora-v17-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html, body {
    height: 100%;
}

body { 
    display: flex;
    flex-direction: column;
    background-color: var(--HC-primary-color-500);
    font-family: "Sora", sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
}

h1,h2,h3 {
    font-weight: bolder;
}

h1 {
    font-size: 36px;
    color: #fff; 
}

h2 {
    font-size: 28px;
    color: var(--HC-secondary-color-500);
}

h3 {
    color: #fff;
    font-size: 20px;
}

p {
    color: #fff;
    font-weight: 300;
}

/*h1, h2, h3 için responsivite*/
@media (max-width: 1024px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 16px;
    }
}